*{
	   font-family: 'Poppins', sans-serif;
    margin: 0;
	   padding: 0;
   	box-sizing: border-box;
				text-decoration: none;
				scroll-behavior: smooth;
}
.container{
	   position: fixed;
	   height: 100%;
    left: -50%;
   	width: 50%;
   	background-color: dimgrey;
    transition: 1s ease;
    z-index: 999;
}
.content{
    padding: 20px;
    position: relative;
}
.toggle_btn{
  cursor: pointer;
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
}
.btnshow{
  cursor: pointer;
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  transition: .5s ease-in-out;
}
.btnshow i{
  font-size: 30px;
  color: white;
}
.toggle_btn i{
  font-size: 30px;
  color: lightgray;
  font-weight: 500px;
}
.toggle_btn:hover{
  transition: .5s ease;
  transform: rotate(180deg);
}
.btnshow:hover{
  transition-delay: .5s;
  transition: .5s ease;
  transform: rotate(180deg);
}
.nav_container{
  display: block;
  margin: 50px auto;
  list-style: none;
  width: 80%;
}
.nav_container li{
  display: inline-block;
  height: 30px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  line-height: 35px;
}
.nav_container li a{
  display: block;
  font-size: 27px;
  color: whitesmoke;
  font-weight: 500;
		transition: 1s ease;
}
.nav_container li a:hover{
  border-bottom: 2px solid whitesmoke;
  color: black;
		font-weight: 900;
		transform: scale(1.1);
		transform-origin: x-offset;
}
header{
	 background-image: url(portfoliojpg.jpg);
  height: 100vh;
	 background-position: top center;
		background-repeat: no-repeat;
	 background-size: cover;
		position: relative;
		width: 100%;
}
header .logo{
  position: absolute;
  top : 20px;
  right : 20px;
}
header .logo .span{
				color: darkgray;
				font-size: 28px;
				font-weight: 900;
				word-spacing: 1px;
}
.headercontent{
				position: absolute;
				top: 40%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 50%;
}
.headercontent h1{
				color: lightgray;
				font-size: 70px;
				text-align: center;
				transition: 1s ease;
}
.headercontent h1:after{
				content: 'Dave Carandang.';
				animation: content 10s ease infinite;
				margin-left: 10px;
				letter-spacing: 1px;
}
@keyframes content{
			 40%{
								content: 'a Designer.';
								letter-spacing: 1px;
				}
				60%{
								content: 'a Programmer.';
								letter-spacing: 1px;
				}
				90%{
								content: 'a Developer.';
								letter-spacing: 1px;
				}
}
.anchortag{
				position: absolute;
				top: 63%;
				left: 50%;
				transform: translate(-50%,-50%);
				margin: 10px auto;
				width: 50%;
				display: flex;
				text-align: center;
				justify-content: space-between;
				margin-top: 25px;
}
.anchortag a{
				text-decoration: none;
				height: 55px;
				width: 55px;
				background-color: dimgrey;
				border-radius: 50%;
				line-height: 60px;
				cursor: pointer;
				transition: .5s ease;
				color: lightgray;
}
.anchortag a:hover{
				color: black;
				background-color: lightslategrey;
				transform: translateY(-40%);
}
.anchortag a i{
				font-size: 27px;
}
header .btncontent{
				display: block;
				background-color: dimgray;
    cursor: pointer;
				border: none;
				outline: none;
				font-size: 15px;
				font-weight: 700;
				color: lightgray;
				text-align: center;
				position: absolute;
				top: 80%;
				left: 50%;
				transform: translate(-50%,-50%);
				padding: 13px 25px;
				border-radius: 50px;
				margin-top: 25px;
}
.about{
				height: 100vh;
				background-image: linear-gradient(rgba(15,15,15,0.4), rgba(10,10,10,0.7));
				padding-top: 50px;
				overflow: hidden;
}
.about .aboutheading{
				position: relative;
				width: 100%;
				visibility: hidden;
				font-size: 32px;
				font-weight: 500;
				letter-spacing: 2px;
				color: gainsboro;
				text-align: center;
}
.about .aboutheading:after{
				content: '';
				position: absolute;
				bottom: 0;
				width: 50px;
				height: 3px;
				background-color: darkslategray;
				left: 50%;
				transform: translateX(-50%);	
}
.aboutcontainer{
				padding: 10px 30px;
}
.aboutcontainer img{
				height: 160px;
				width: 160px;
				margin: 0 auto;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				filter: grayscale(100%);
				transition: .5s ease;
}
section:hover img{
				filter: grayscale(0);
}
.spanabout{
				text-align: center;
				font-size: 12px;
				font-weight: 600;
				padding-top: 15px;
}
.spanabout span{
				position: relative;
				padding: 5px;
				letter-spacing: 1px;
				color: gainsboro;
				font-weight: 800;
}
.spanabout span:after{
				content: '';
				height: 3px;
				width: 3px;
				background-color: aliceblue;
				border-radius: 50%;
				position: absolute;
				margin-left: 5px;
				bottom: 50%;
				transform: translateX(-50%);
}
.spanabout span:first-child:before{
				content: '';
				height: 3px;
				width: 3px;
				background-color: aliceblue;
				border-radius: 50%;
				position: absolute;
				margin-left: 5px;
				bottom: 50%;
				left: -9%;
				transform: translateX(-50%,-50%);
}
.aboutcontainer p{
				text-align: justify;
				padding-top: 15px;
				font-size: 15px;
				color: lightgray;
				font-weight: 400;
				line-height: 30px;
}
.skill{
				height: 100vh;
				width: 100%;
				background-image: linear-gradient(rgba(10,10,10,0.7), rgba(15,15,15,0.4)), url(skilljpg.jpg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				background-attachment: fixed;
				padding-top: 50px;
}
.skill .skillheading{
				font-size: 30px;
				font-weight: 700;
				letter-spacing: 3px;
				color: gainsboro;
				text-align: center;
				margin-bottom: 45px;
}
.skillcontainer{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 200px 250px;
				height: 100%;
				overflow: hidden;
}
.skillcontainer .skillcontent{
				width: 100%;
				height: 100%;
		  text-align: center;
}
.skillcontainer .skillcontent:nth-child(2){
				grid-column: 3/4;
}
.skillcontainer .skillcontent:nth-child(3){
				grid-column: 2/3;
				grid-row: 1/2;
}
.skillcontainer .skillcontent:nth-child(4){
				grid-column: 2/3;
				grid-row: 2/3
}
.skillcontainer .skillcontent:nth-child(5){
				grid-column: 1/2;
				grid-row: 2/3;
}
.skillcontainer .skillcontent img{
				width: 110px;
				height: 110px;
}
.skillcontainer .skillcontent .skillname{
				font-weight: 600;
				letter-spacing: 2px;
				color: gainsboro;
				text-align: center;
}
.work{
				height: 100vh;
				width: 100%;
			 padding: 35px;
				background-image: linear-gradient(rgba(10,10,10,0.3), rgba(15,15,15,0.4));
}
.work .workcontainer .imagecontainer{
				display: grid;
				grid-template-columns: repeat(3, 250px);	
				grid-template-rows: 160px 160px;		
				margin-top: 30px;
				gap: 20px;
				height: 100%;
				width: 100%;
				overflow: hidden;
				justify-content: center;
				align-items: center;
}
.workcontainer .portfolio{
				font-weight: 500;
				font-size: 30px;
				position: relative;
				width: 200px;
				text-align: center;
				margin-top: 20px;
				opacity: 0;
}
.workcontainer .portfolio:after{
				content: '';
				position: absolute;
				height: 3px;
				width: 50px;
				background-color: darkslategray;
				bottom: 0;
				left: 50%;
			 transform: translateX(-50%);
}
.workcontainer .imagecontainer .imagewrapper{
				height: 100%;
				width: 100%;
				border-radius: 5px;
				position: relative;
				background-image: url(workone.JPG);
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				overflow: hidden;
				border: 1px solid black;
}
.workcontainer .imagecontainer .imagewrapper:nth-child(2){
				height: 100%;
				width: 100%;
				position: relative;
				background-image: url(work2.JPG);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center bottom;
				overflow: hidden;
				border: 1px solid black;
}
.workcontainer .imagecontainer .imagewrapper:nth-child(3){
				height: 100%;
				width: 100%;
				position: relative;
				background-image: url(work.jpg);
				overflow: hidden;
				border: 1px solid black;
}
.workcontainer .imagecontainer .imagewrapper:nth-child(4){
				height: 100%;
				width: 100%;
				position: relative;
				background-image: url(work.jpg);
				overflow: hidden;
				border: 1px solid black;
}
.workcontainer .imagecontainer .imagewrapper:nth-child(5){
				height: 100%;
				width: 100%;
				position: relative;
				background-image: url(work.jpg);
				overflow: hidden;
				border: 1px solid black;
}
.workcontainer .imagecontainer .imagewrapper:nth-child(6){
				height: 100%;
				width: 100%;
				position: relative;
				background-image: url(work.jpg);
				overflow: hidden;
				border: 1px solid black;
}
.workcontainer .imagecontainer .imagewrapper .imagecontent{
				height: 100%;
				width: 100%;
				background-image: linear-gradient(rgba(10,10,10,0.7), rgba(15,15,15,0.4));
				text-align: center;
				position: absolute;
				top: -100%;
				transition: 0.8s ease-in-out;
}
.workcontainer .imagecontainer .imagewrapper:hover .imagecontent{
				top: 0;
				left: 0;
}
.workcontainer .imagecontainer .imagewrapper .imagecontent h1{
		  top: 50%;
				left: 50%;
				position: absolute;
				transform: translate(-50%,-50%);
				font-weight: 600;
				font-size: 25px;
				color: gainsboro;
				width: 100%;
				padding: 20px;
}
.contact{
				height: 550px;
				width: 100%;
				padding: 35px;
				background-color: ghostwhite;
}
.contact h1{
				font-weight: 500;
				font-size: 30px;
				position: relative;
				width: 200px;
				text-align: center;
				margin-top: 20px;
}
.contact h1:after{
				content: '';
				position: absolute;
				height: 3px;
				width: 50px;
				background-color: darkslategray;
				bottom: 0;
				left: 50%;
			 transform: translateX(-50%);
}
.contactcontainer{
		  display: grid;
		  grid-template-columns: 1fr 1fr;
		  grid-template-rows: 300px;
				height: 100%;			
}
.contactcontainer .iconcontainer{
				display: flex;
				flex-direction: column;
				margin-top: 20px;
				align-items: center;
				justify-content: center;
}
.contactcontainer .iconcontent{
				width: 100%;
				display: grid;
				grid-template-columns: 70px 1fr;
				grid-template-rows: 20px 20px 20px;
				align-items: center;
				justify-content: center;
}
.contactcontainer .iconcontent i{
				color: black;
				font-size: 30px;
				color: dimgray;
}
.contactcontainer .iconcontent span{
				color: dimgray;
				font-weight: 50;
				font-size: 20px;
				text-align: justify;
}
.formcontainer{
				width: 100%;
}
.formcontainer span{
				font-weight: 300px;
				font-size: 13px;
				color: dimgray;
}
.formcontainer .formcontent{
				margin-top: 10px;
				width: 100%;
				display: block;
}
.formcontainer .formcontent input{
				padding: 5px 10px;
				border-radius: 3px;
				cursor: pointer;
				outline: none;
				border: 0.5px solid black;
				height: 40px;
				width: 100%;
				background-color: transparent;
				color: black;
				font-size: 16px;
				font-weight: 500;
}
.formcontainer .formcontent input:focus,
.formcontainer textarea:focus{
			 border: 1.5px solid green;
}
input::placeholder,
textarea::placeholder{
				font-weight: 400;
				font-size: 15px;
}
.formcontainer textarea{
				padding: 5px 10px;
				border-radius: 3px;
				cursor: pointer;
				outline: none;
				border: 0.5px solid black;
				height: 100px;
				width: 100%;
				background-color: transparent;
				color: black;
				font-size: 16px;
				font-weight: 500;
				margin-top: 10px;
}
.formcontainer .btncontent{
				padding: 10px 15px;
				border-radius: 3px;
				cursor: pointer;
				outline: none;
				height: 40px;
				width: 65%;
				background-color: lightgray;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 5px;
}
.formcontainer .btncontent i{
				cursor: pointer;
				color: black;
				font-size: 15px;
				font-weight: 500;
				margin-right: 5px;
}
.formcontainer .btncontent span{
				cursor: pointer;
				color: black;
				font-size: 17px;
				font-weight: 400;
				letter-spacing: 1px;
}

.formcontainer .btncontent button{
				cursor: pointer;
				outline: none;
				border: none;
	   background-color: transparent;
}
.footer{
				height: 100px;
				width: 100%;
				background-color: darkgray;
				position: relative;
				display: flex;
				flex-direction: column;
}
.footer .anchortagtwo{
				margin: 0 auto;
				width: 60%;
				display: flex;
				text-align: center;
				justify-content: center;
				flex: 1;
				margin-top: 20px;
				
}
.anchortagtwo a{
				text-decoration: none;
				height: 20px;
				width: 20px;
				cursor: pointer;
				transition: .5s ease;
				color: gray;
				display: block;
				margin: 0 10px;
}
.anchortagtwo a:hover{
				color: black;
				transform: translateY(-40%);
}
.anchortagtwo a i{
				font-size: 25px;
}
.footer h3{
				font-weight: 500;
				font-size: 15px;
				text-align: center;r
				width: 70%;
				margin: 0 auto;
				flex: 2;
				margin-top: 10px;
}
.up{
				background-color: black;
				height: 50px;
				width: 50px;
				left: 90%;
				padding: 5px;
				text-align: center;
				top: 80%;
				position: fixed;
				border-radius: 50%;
				z-index: 2000;
				transition: 1s ease;
				visibility: hidden;
}
.up i{
				font-size: 25px;
	                        text-align: center;
	                        height: 100%;
	                        width: 100%;
}
.up a{
				color: aliceblue;
	                        text-align: center;
}




@media (max-width: 708px) {
.container{   
    left: -50%;
   	width: 50%;  	
}
.btnshow i{
  font-size: 30px;
}
.toggle_btn i{
  font-size: 30px;
}
.nav_container li a{
  font-size: 20px;
  font-weight: 500;
}
header .logo .span{
				color: darkgray;
				font-size: 20px;
				font-weight: 900;
				word-spacing: 1px;
}
header{
		  padding: 0 20px;
}
.headercontent{
	
		  width: 50%;
				display: flex;
				alig-items: center;
				justify-content:center;
				height: 150px;
	padding: 0 20px;
}
.headercontent h1{
				font-size: 45px;
				height: 100%;
				font-weight: 600;
}
.anchortag{		
				margin: 25px auto;
				width: 60%;
				display: flex;
				text-align: center;
				justify-content: space-between;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
}
.anchortag a{
				text-decoration: none;
				height: 40px;
				width: 40px;
				background-color: dimgrey;
				border-radius: 50%;
				line-height: 50px;
				cursor: pointer;
				transition: .5s ease;
				color: lightgray;
}
.anchortag a:hover{
				color: black;
				background-color: lightslategrey;
				transform: translateY(-40%);
}
.anchortag a i{
				font-size: 25px;
}
header .btncontent{			
    cursor: pointer;
				font-size: 12px;
				font-weight: 700;
				text-align: center;
				position: absolute;
				top: 60%;
				left: 50%;
				transform: translate(-50%,-50%);
				padding: 10px 18px;
				border-radius: 50px;
				margin-top: 25px;
}
.about{
		 height: 100vh;
	}
	.aboutcontainer{
				padding: 10px 20px;
}
	.aboutcontainer p{
				text-align: justify;
				padding-top: 15px;
				font-size: 14px;
				color: lightgray;
				font-weight: 400;
				line-height: 25px;
}
.skill{
				height: 100vh;
}
.skillcontainer{
		  margin-top: -15px;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 150px 150px 150px;
				height: 100%;
				overflow: hidden;
}
.skillcontainer .skillcontent:nth-child(2){
				grid-column: 2/3;
}
.skillcontainer .skillcontent:nth-child(3){
				grid-column: 1/2;
				grid-row: 2/3;
}
.skillcontainer .skillcontent:nth-child(4){
				grid-column: 2/3;
				grid-row: 2/3
}
.skillcontainer .skillcontent:nth-child(5){
				grid-column: 1/2;
				grid-row: 3/4;
}
.work{
				height: 850px;
				width: 100%;
			 padding: 25px;
				background-image: linear-gradient(rgba(10,10,10,0.3), rgba(15,15,15,0.4));
}
.work .workcontainer .imagecontainer{
				display: grid;
				grid-template-columns: 1fr 120px 1fr;
				grid-template-rows: repeat(6, 110px);
				margin-top: 30px;
				row-gap: 10px;
				height: 100%;
				width: 100%;
				overflow: hidden;
				align-items: center;
				justify-content: center;
}
.workcontainer .imagecontainer .imagewrapper:nth-child(1){
				grid-column: 1/3;
				grid-row: 1/2;
}
.workcontainer .imagecontainer .imagewrapper:nth-child(2){
				grid-column: 2/4;
				grid-row: 2/3;
}
.workcontainer .imagecontainer .imagewrapper:nth-child(3){
				grid-column: 1/3;
				grid-row: 3/4;
}
.workcontainer .imagecontainer .imagewrapper:nth-child(4){
				grid-column: 2/4;
				grid-row: 4/5;
}
.workcontainer .imagecontainer .imagewrapper:nth-child(5){
				grid-column: 1/3;
				grid-row: 5/6;
}
.workcontainer .imagecontainer .imagewrapper:nth-child(6){
				grid-column: 2/4;
				grid-row: 6/7;
}
.contact{
				height: 650px;
				width: 100%;
				background-color: ghostwhite;
				padding: 30px;
}
.contactcontainer{
		  display: grid;
		  grid-template-columns: 1fr;
		  grid-template-rows: 200px 250px;
				height: 100%;
				margin-top: 20px;	
				width: 100%;
				overflow: hidden;	
}
.contactcontainer .iconcontent i{
				font-size: 25px;
}
.contactcontainer .iconcontent span{
				font-weight: 400;
				font-size: 16px;
				text-align: justify;
}	
	formcontainer{
				width: 80%;
		margin: 0 auto;
}				
.up{
				background-color: black;
				height: 40px;
				width: 40px;
				left: 80%;
				padding: 5px;
				text-align: center;
				top: 80%;
				position: fixed;
				border-radius: 50%;
				z-index: 2000;
				transition: 1s ease;
				visibility: hidden;
}
.up i{
				font-size: 20px;
	                        text-align: center;
	                        height: 100%;
	                        width: 100%;
}
.up a{
				color: aliceblue;
	                        text-align: center;
}
}
